* {
    box-sizing: border-box;
    padding: auto;
}

html {
    background: #bfb5b2;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #FFFFFF;
}

header {
    text-align: center;
}

fieldset {
    border: none;
}

.title-top {
    background-color: #2e4045;
    padding: 15px;
    margin: -10px;
}

.paragraph-top {
    margin-top: -16px;
    font-size: 13px;
    background-color: #FFFFFF;
}

.signup-top {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #2e4045;
}

h4 {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    line-height:
}

.thick-line {
    border-color: #000000;
    border-width: 0 0 3px 0;
    border-style: solid;
    padding-top: 20px;
    margin: 10px;
}

.thin-line {
    border-color: #000000;
    border-width: 0 0 1px 0;
    border-style: solid;
    padding-top: 2px;
    margin: 2px;
}

.contact-header {
    color: #000000;
    padding-top: 15px;
    padding-bottom: 10px;
}

.form-header,
.contact-header {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}

.paragraph {
    font-size: 13px;
    background-color: #FFFFFF;
}

.container {
    font-size: 12px;
}

.top-zip {
    font-size: 12px;
    width: 50%;
    display: block;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.input-box {
    border: 1px solid #5e3c58;
}

.copyright {
    font-size: 12px;
    text-align: center;
    font-style: italic;
}

input,
select {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border: none;
    width: 100%;
    padding: 1em;
}

input,
select,
textarea {
    background: #e7e9eb;
    border-radius: 5px;
}

input {
    border: 1px solid #5e3c58;
}

textarea {
    width: 280px;
    height: 100px;
    padding: 3px;
    border: none;
}

.submit {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #FFFFFF;
    border: none;
    font-size: 16x;
    border-radius: 5px;
    background-color: #5e3c58;
    padding: 20px 50px;
    text-decoration: bold;
    display: inline-block;
    font-size: 16px;
    margin: 6px 3px;
    width: 100%;
}

.format {
    display: block;
    font-size: 13px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: auto;
    float: right;
    margin-top: -2.4em;
    padding: 0;
    width: 100%;
    position: relative;
    line-height: 2.4em;
}

input:focus,
select:focus,
textarea:focus,
.container:focus {
    background-color: #C7BBC9;
    border-color: #425357;
}